<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <title>Gold Set</title>
</head>
<body>
<div id="container">
    <div th:replace="fragments/commons :: header"></div>

    <div th:object="${currEmoti}" class="hero-form">
        <div class="hero-row">
            <div class="heroRowUsername">
                <span th:text="${username}">sdsadsadsadasd</span>
            </div>
        </div>

        <div class="hero-row">
            <div class="heroRowLabel">
                <span>Strenght:</span><br>
                <span>Armor:</span>
            </div>
            <div class="heroRowStats">
                <span th:text="*{strength}">100</span><br>
                <span th:text="*{armor}">100</span>
            </div>
        </div>

        <div class="hero-row">
            <div class="heroRowLabel">
                <span>Wins:</span> <br>
                <span>Loses:</span>
            </div>
            <div class="heroRowStats">
                <span th:text="*{wins}">50</span><br>
                <span th:text="*{loses}">3</span>
            </div>
        </div>

        <div class="hero-row">
            <div class="heroRowUsername">
                <span>You have </span>
                <span th:text="*{coins}"></span>
                <span> coins</span>
            </div>
        </div>
        <div class="hero-row">
            <span>Available coins to collect: </span>
            <div th:text="*{coinsToCollect}">6</div>
            <a href="/collectCoins" class="coins-col">Collect Coins</a>
        </div>
    </div>

    <div class="set-div">
        <div class="set-form">
            <span>Gold Weapon</span>
            <br>
            <a class="setBuy-btn" th:href="@{/shop/goldSet/buy/weapon/{id}(id=11)}">Buy</a>
        </div>
        <div class="set-form">
            <span>Gold Shield </span><br>
            <a class="setBuy-btn" th:href="@{/shop/goldSet/buy/shield/{id}(id=12)}">Buy</a>
        </div>
        <div class="set-form">
            <span>Gold Head</span><br>
            <a class="setBuy-btn" th:href="@{/shop/goldSet/buy/head/{id}(id=13)}">Buy</a>
        </div>
        <div class="set-form">
            <span>Gold Boots</span><br>
            <a class="setBuy-btn" th:href="@{/shop/goldSet/buy/boots/{id}(id=14)}">Buy</a>
        </div>
        <div class="set-form">
            <span>Gold Trinkets</span><br>
            <a class="setBuy-btn" th:href="@{/shop/goldSet/buy/trinkets/{id}(id=15)}">Buy</a>
        </div>

        <div class="set-noti">
            <p  th:if="${successBuy}">Successfully bought item!</p>
            <p  th:if="${noCoinsError}">Not enough coins!</p>
        </div>
    </div>
    <div th:replace="fragments/commons :: rightSide"></div>
</div>

</body>
</html>